
/* Font Family 
 * title = font-family: 'Dosis', sans-serif;
 * text = font-family: 'Cantarell', sans-serif;
 * special-links = font-family: 'Open Sans Condensed', sans-serif;
 */

body {
	font-family: 'Cantarell', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

/* Style header */

#navheader {
	background: #FFF;
	transition: 0.3s;
}

#logo-mirumbo {
	background: url('images/logo-mirumbo.png') no-repeat;
	width: 245px;
	height: 175px;
	text-indent: -1000px;
	display: block;
}

nav.navbar-fixed-top #logo-mirumbo {
	background: url('images/icons.png') top center no-repeat;
	width: 230px;
	height: 60px;
	background-size: 260px;
	background-position: 10px 5px;
	transition: 0.3s;
}

.navbar-nav { margin-top: 120px; }
nav.navbar-fixed-top .navbar-nav { margin-top: 5px; }
#navheader .navbar-form { clear: right; }
nav.navbar-fixed-top .navbar-form { clear: none !important; }

nav a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 1.3em;
}


/* HOME: Rumbo Mejora */

.rumbo-mejora {
	background: #F5F5F5;
	padding: 2em;
}

.rumbo-mejora h2 {
	font-size: 4em;
	text-align: center;
	color: #2b3985;
	margin: 0.5em;
}

.rumbo-mejora ul {
	list-style: none;
}

.rumbo-mejora li {
	color: #1C75B1;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.8em;
	margin-bottom: 0.3em;
	padding-left: 2em;
	cursor: pointer;
	transition: 0.2s;
}

.rumbo-mejora li:hover {
	color: #FFF;
	background: #ed5c1b;
}

/* HOME: Rumbo Proyectos */

.rumbo-proyectos {
	background: #22b5bb url('images/bg3.png') top center no-repeat;
	height: 549px;
	padding: 2em;
}

.rumbo-proyectos h2 {
	color: #FFF;
	font-size: 4em;
	text-align: center;
}

.rumbo-proyectos .form-group {
	padding-top: 6em;
	padding-bottom: 2em;
}

.form-group .row { margin-bottom: 15px; }

.rumbo-proyectos .form-group select {
	font-size: 1.8em;
	height: 2em;
}

.rumbo-proyectos #inputDistrict {
	float: right;
}

.rumbo-proyectos .button-ubicar {
	text-align: right;
}


/* HOME: Rumbo Rumbear */

.rumbo-rumbear {
	background: #ee4e42 url('images/hands.png') top left no-repeat;
	height: 518px;
}

.rumbo-rumbear-inner {
	background: url('images/hands.png') bottom right no-repeat;
	height: 518px;
}

.rumbo-rumbear h2 {
	color: #FFF;
	font-size: 4em;
	text-align: center;
}

.rumbo-rumbear .panel-heading {
	background: #b31e2d;
	text-transform: uppercase;
	padding: 1.5em;
}

.rumbo-rumbear .panel-heading {
        border: 7px solid #EE4E42;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}

.rumbo-rumbear .panel-primary {
	border: 2px solid #EE4E42;
	border-radius: 0px;
}

.rumbo-rumbear .panel-title  {
	font-size: 1.8em;
}

.rumbo-rumbear .panel-body {
	padding: 3em;
}

.rumbo-rumbear .tabs-rubro {
  position: relative;   
  clear: both;
  margin: 25px 0;
}
.rumbo-rumbear .tab {
  float: left;
}
.rumbo-rumbear .tab label {
	position: relative;
	width: 55px;
	height: 55px;
	text-indent: -2000px;
}

.rumbo-rumbear .tab [type=radio] {
  display: none;   
}

.content-rumbear {
	position: absolute;
	padding: 20px;
	background: #FFF;
	font-weight: bold;
	width: 275px;
	height: 55px;
	left: 0px;
	top: 55px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.content-null { color: #DFDFDF; }

/* Icons */
.icons {
	display: block;
        width: 55px;
        height: 55px;
	float: left;
        background: url('images/icons.png') bottom left no-repeat;
}

.icon-obras { background-position: -55px bottom; }
.content-obras { background: #f0a540; }

.icon-equipamiento { background-position: 0px bottom; }
.content-equipamiento { background: #cf1c5c; }

.icon-infraestructura { background-position: -165px bottom; }
.content-infraestructura { background: #1c75b1; }

.icon-prevencion { background-position: -111px bottom; }
.content-prevencion { background: #2e3187; }

.icon-actividades { background-position: -222px bottom; }
.content-actividades { background: #662d86; line-height: 1em; }

.rumbo-rumbear [type=radio]:checked ~ label {
	z-index: 2;
	box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.20);
}
.rumbo-rumbear [type=radio]:checked ~ label ~ .content-rumbear {
	z-index: 1;
}


/* HOME: Rumberos */

.rumbo-rumberos {
	background: #ec891e;
	padding-bottom: 2em;
}

.rumbo-rumberos h2 {
        color: #FFF;
        font-size: 4em;
        text-align: center;
}

/* Proyectos item */

.item-proyecto {
	text-align: center;
	line-height: 1em;
}

.item-proyecto h3 {
	text-align: center;
	text-transform: uppercase;
	background: #31b596;
	color: #FFF;
	padding: 0.3em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.thumb-proyecto {
	width: 250px;
	height: 250px;
}
.content-proyecto {
	text-align: justify;
	background: #FFF;
	margin: 0 auto;
	width: 250px;
}
.content-proyecto p {
	padding: 0.5em 1em 0.5em 1em;
	margin: 0px;
}
.status-proyecto {
	clear: both;
	width: 100%;
	font-size: 1.5em;
	background: #545454;
	font-weight: bold;
	height: 55px;
	line-height: 55px;
	text-align: center;
}
.status-proyecto a { color: #FFF; text-decoration: none; }
.status-proyecto a:hover { color: rgba(245, 251, 160, 1); }

/* Footer style */

footer {
	background: #510f3d url('images/footer.png') bottom center no-repeat;
	min-height: 450px;
	color: #FFF;
}

#copyright {
	text-align: center;
	height: 50px
}

/* Adjuts responsive */


@media (max-width:768px){

	.navbar-nav { margin-top: 5px; }
	#navheader .navbar-form { clear: none; }
	.rumbo-mejora h2,
	.rumbo-proyectos h2,
	.rumbo-rumbear h2,
	.rumbo-rumberos h2 { font-size: 2.5em; }
	.rumbo-proyectos { height: 375px; background-size: auto 100%; }
	.rumbo-proyectos .form-group { padding-top: 1em; }
	.rumbo-rumbear .panel-title,
	.rumbo-proyectos .form-group select { font-size: 1.3em; }
	.panel-rubro { width: 320px; margin-left: -47px; }

} /* End responsive adjusts */

