
/* Font Family 
 * title = font-family: 'Dosis', sans-serif;
 * text = font-family: 'Cantarell', sans-serif;
 * special-links = font-family: 'Open Sans Condensed', sans-serif;
 */

body {
	font-family: 'Cantarell', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

a {
	font-family: 'Open Sans Condensed', sans-serif;
}
