
/* Font Family 
 * title = font-family: 'Dosis', sans-serif;
 * text = font-family: 'Cantarell', sans-serif;
 * special-links = font-family: 'Open Sans Condensed', sans-serif;
 */

body {
	font-family: 'Cantarell', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
}

.bg-dark {
	background: #45484d; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover, #45484d 0%,#000000 100%); /* IE10+ */
	background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* Style header */

#navheader {
	background: #FFF;
	transition: 0.3s;
}

#logo-mirumbo {
	background: url('images/logo-mirumbo.png') no-repeat;
	width: 245px;
	height: 175px;
	text-indent: -1000px;
	display: block;
}

#logo-footer,
nav.navbar-fixed-top #logo-mirumbo {
	background: url('images/icons.png') 0px 5px no-repeat;
	width: 230px;
	height: 60px;
	transition: 0.3s;
}

#logo-footer { display: block; float: left; }

.navbar-nav { margin-top: 120px; }
.navbar-user { margin-top: 5px; }
nav.navbar-fixed-top .navbar-nav { margin-top: 5px; }
#navheader .navbar-form { clear: right; }
nav.navbar-fixed-top .navbar-form { clear: none !important; }

nav a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}


/* HOME: Rumbo Mejora */

.rumbo-mejora {
	background: #F5F5F5;
	padding: 2em;
}

.rumbo-mejora h2 {
	font-size: 4em;
	text-align: center;
	color: #2b3985;
	margin: 0.5em;
}

.rumbo-mejora ul {
	list-style: none;
}

.rumbo-mejora li {
	color: #1C75B1;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.8em;
	margin-bottom: 0.3em;
	padding-left: 2em;
	cursor: pointer;
	transition: 0.2s;
}

.rumbo-mejora li:hover {
	color: #FFF;
	background: #ed5c1b;
}

/* HOME: Rumbo Proyectos */

.rumbo-proyectos {
	background: #22b5bb url('images/bg3.png') top center no-repeat;
	height: 549px;
	padding: 2em;
}

.rumbo-proyectos h2 {
	color: #FFF;
	font-size: 4em;
	text-align: center;
}

.rumbo-proyectos .form-group {
	padding-top: 6em;
	padding-bottom: 2em;
}

.form-group .row { margin-bottom: 15px; }

.rumbo-proyectos .form-group select {
	font-size: 1.7em;
	height: 2em;
}

.rumbo-proyectos #inputDistrict {
	float: right;
}

.rumbo-proyectos .button-ubicar {
	text-align: right;
}


/* HOME: Rumbo Rumbear */

.rumbo-rumbear {
	background: #ee4e42 url('images/hands.png') top left no-repeat;
	height: 518px;
}

.rumbo-rumbear-inner {
	background: url('images/hands.png') bottom right no-repeat;
	height: 518px;
}

.rumbo-rumbear h2 {
	color: #FFF;
	font-size: 4em;
	text-align: center;
}

.rumbo-rumbear .panel-heading {
	background: #b31e2d;
	text-transform: uppercase;
	padding: 1.5em;
}

.rumbo-rumbear .panel-heading {
        border: 7px solid #EE4E42;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
}

.rumbo-rumbear .panel-primary {
	border: 2px solid #EE4E42;
	border-radius: 0px;
}

.rumbo-rumbear .panel-title  {
	font-size: 1.8em;
}

.rumbo-rumbear .panel-body {
	padding: 3em;
}

.rumbo-rumbear .tabs-rubro {
  position: relative;   
  clear: both;
  margin: 25px 0;
}
.rumbo-rumbear .tab {
  float: left;
}
.rumbo-rumbear .tab label {
	position: relative;
	width: 55px;
	height: 55px;
	text-indent: -2000px;
}

.rumbo-rumbear .tab [type=radio] {
  display: none;   
}

.content-rumbear {
	position: absolute;
	padding: 20px;
	background: #FFF;
	font-weight: bold;
	width: 275px;
	height: 55px;
	left: 0px;
	top: 55px;
	color: #FFF;
	text-transform: uppercase;
	text-align: center;
}

.content-null { color: #DFDFDF; }

/* Icons */
.icons {
	display: block;
        width: 55px;
        height: 55px;
	float: left;
        background: url('images/icons.png') bottom left no-repeat;
}

.icon-category-1 { background-position: -55px bottom; }
.content-obras { background: #f0a540; }

.icon-category-2 { background-position: 0px bottom; }
.content-equipamiento { background: #cf1c5c; }

.icon-category-3 { background-position: -165px bottom; }
.content-infraestructura { background: #1c75b1; }

.icon-category-4 { background-position: -111px bottom; }
.content-prevencion { background: #2e3187; }

.icon-category-5 { background-position: -222px bottom; }
.content-actividades { background: #662d86; line-height: 1em; }

.rumbo-rumbear [type=radio]:checked ~ label {
	z-index: 2;
	box-shadow: 5px 0px 0px 0px rgba(0, 0, 0, 0.20);
}
.rumbo-rumbear [type=radio]:checked ~ label ~ .content-rumbear {
	z-index: 1;
}


/* HOME: Rumberos */

.rumbo-rumberos {
	background: #ec891e;
	padding-bottom: 1em;
}

.rumbo-rumberos h2 {
        color: #FFF;
        font-size: 4em;
        text-align: center;
}

/* Proyectos item */

.item-proyecto {
	text-align: center;
	line-height: 1em;
	margin-bottom: 1em;
}

.item-proyecto h3 {
	text-align: center;
	text-transform: uppercase;
	background: #31b596;
	color: #FFF;
	padding: 0.3em;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0.5em;
	margin-right: 0.5em;
}
.thumb-proyecto {
	width: 250px;
	height: 250px;
}
.content-proyecto {
	text-align: justify;
	background: #FFF;
	margin: 0 auto;
	width: 250px;
}
.content-proyecto p {
	padding: 0.5em 1em 0.5em 1em;
	margin: 0px;
}
.status-proyecto {
	clear: both;
	width: 100%;
	font-size: 1.5em;
	background: #545454;
	font-weight: bold;
	height: 55px;
	line-height: 55px;
	text-align: center;
}

footer a,
.status-proyecto a { color: #FFF; text-decoration: none; }
footer a:hover,
.status-proyecto a:hover { color: rgba(245, 251, 160, 1); }

/* Rumbo Page styes */

.rumbo-page {
	background: #009a90;
	padding-top: 5em;
	padding-bottom: 5em;
}

.rumbo-page .container {
	background: #e6f5f4;
	padding: 4em;
}

#page-equipo { background: #FFF; }
#page-quees { background: #48bbb9; }
#page-faq { margin-top: 150px; }

#faq-title {
    background: url('images/logo-mirumbo.png') no-repeat scroll 0% 0% transparent;
    width: 245px;
    height: 175px;
    margin: 0 auto;
    margin-top: -200px;
    text-indent: -2000px;
    display: block;
}
#mail-faq { text-align: center; font-size: 2em; }

/* Footer style */

footer {
	background: #510f3d;
	color: #FFF;
	padding-top: 2em;
}

footer .footer-nav {
        background: url('images/footer.png') bottom center no-repeat;
	min-height: 450px;
}

#copyright {
	text-align: center;
	height: 50px
}

footer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
footer li { line-height: 30px; }

#footer-social li a { margin-left: 5px; }
#footer-social li { margin-bottom: 5px; }

#footer-social .icons {
	width: 30px;
	height: 30px;
}
.icon-youtube { background-position: 0px -119px; }
.icon-facebook { background-position: -62px -119px; }
.icon-twitter { background-position: -31px -119px }

#footer-logos { clear: both; text-align: center; padding: 2em; }
#footer-logos p { clear: both; padding: 1em; }
#footer-logos ul { margin: 0 auto; clear: both; }
#footer-logos li { display: inline-block; margin-right: 3em; }
#footer-logos a {
	text-indent: -5000px;
	display: block;
	height: 40px;
	width: 100px;
        background: url('images/icons.png') no-repeat;
}

#footer-flip a { background-position: 0px -65px; }
#footer-labic a { background-position: -110px -65px; }
#footer-cc a { background-position: -245px -65px; width: 125px; }
#footer-github a { background-position: -370px -65px; }

#footer-copy { background: #3a0c2e; padding: 2em; margin-top: -1em; border-top: 2px solid #510f3d; }
#footer-copy a { border-bottom: 1px dotted #FFF; }

/* Adjuts responsive */

@media (max-width:768px){

	.rumbo-rumbear { height: 600px; }
	.navbar-nav { margin-top: 5px; }
	#navheader .navbar-form { clear: none; }
	.rumbo-mejora h2,
	.rumbo-proyectos h2,
	.rumbo-rumbear h2,
	.rumbo-rumberos h2 { font-size: 2.5em; }
	.rumbo-proyectos { height: 375px; background-size: auto 100%; }
	.rumbo-proyectos .form-group { padding-top: 1em; }
	.rumbo-rumbear .panel-title,
	.rumbo-proyectos .form-group select { font-size: 1.3em; }
	.panel-rubro { width: 320px; margin-left: -47px; }

} /* End responsive adjusts */

